html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.text-input {
  text-align: center;
  width: 320px;
  padding: 10px 20px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 48px;
  border: none;
  border-radius: 0;
  background: transparent;
  color: white;
  border-bottom: 5px solid white;
}

.text-input.light {
  color: black;
  border-bottom: 5px solid #F8D948;
}

.text-input:focus {
  outline: none;
}

.text-input::-webkit-input-placeholder {
  text-align: center;
  font-weight: normal;
}

.text-input:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
  font-weight: normal;
}

.text-input::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
  font-weight: normal;
}

.text-input:-ms-input-placeholder {  
  text-align: center; 
  font-weight: normal;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  flex: 1 0 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.text-title {
  color: white;
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  color: #F8D948;
  line-height: 1;
}

.text-title-2 {
  color: black;
  font-weight: bold;
  font-size: 32px;
  font-family: 'PT Serif', serif;
  text-align: center;
}

.text-title-3 {
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: 'PT Serif', serif;
  text-align: left;
}

.text-body-2 {
  color: black;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  white-space: pre-wrap;
}

.text-body-3 {
  color: #F8D948;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  white-space: pre-wrap;
}

.text-body-3 a {
  color: white;
}

.text-word {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.word-stat-container {
  font-family: 'PT Serif', serif;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  text-align: center;
  background-color: #F8D948;
  border: none;
  padding: 4px 24px;
  font-size: 24px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

.button.link {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  color: white;
  font-size: 18px;
  line-height: 36px;
}

.button.small {
  font-size: 12px;
  padding: 2px 12px;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.rain-text {
  color: white;
  font-size: 30px;
  line-height: 1;
  transform: rotate(90deg);
  position: absolute;
  animation-name: fall;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-family: 'PT Serif', serif;
  opacity: 0;
}

.share-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}

.share-container-normal {
  min-height: 100vh;
  min-height: calc(100vh - var(--vh-offset, 0px));
}

.share-container-square {
  width: 500px;
  height: 500px;
}

.share-container-story {
  width: 500px;
  height: 888px;
}

.share-container-square .hide-when-share {
  display: none;
}

.share-container-story .hide-when-share {
  display: none;
}

.share-container-normal .hide-when-normal {
  display: none;
}

.share-container-square .header-container {
  justify-content: center;
}

.share-container-square .header-right-container {
  display: none;
}

.share-container-story .header-container {
  justify-content: center;
  padding-top: 90px;
}

.share-container-story .header-right-container {
  display: none;
}

.share-frame {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: 2px solid white;
  pointer-events: none;
}

.frame-text {
  font-family: 'PT Serif', serif;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  padding: 4px 8px;
}

.share-container-story .frame-text {
  top: unset;
  bottom: 0;
  right: 0;
}

.modal-container {
}
.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 998;
  transition: all 0.3s;
}
.modal-content {
  position: absolute;
  margin: 0 auto;
  max-width: 500px;
  top: 50%;
  left: 16px;
  right: 16px;
  transform: translate(0, -50%);
  padding: 8px;
  background-color: white;
  z-index: 999;
}

.share-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.share-close {
  background: transparent;
  border: none;
  padding: 8px;
  margin-top: 24px;
  margin-right: 8px;
  display: block;
}

.share-close img {
  width: 24px;
  height: 24px;
  display: block;
}

.share-title {
  padding: 8px 16px 0px 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.share-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.share-option .button {
  white-space: nowrap;
}

.share-option-title {
  font-family: 'Poppins', serif;
  font-size: 18px;
  font-weight: 500;
}

@keyframes fall {
  0% { opacity: 0; top: 0% }
  50% { opacity: 1; top: 50% }
  100% { opacity: 0; top: 100% }
}

.header-container {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left-container img {
  height: 40px;
}

.header-right-container {
  display: flex;
  align-items: center;
}

.header-lang-switcher {
  position: relative;
}

.header-lang-switcher img {
  height: 24px;
}

.header-lang-switcher-options {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #F8D948;
  top: 100%;
  right: 0;
}

.header-lang-switcher:hover .header-lang-switcher-options {
  display: block;
}

.header-lang-switcher-option {
  display: flex;
  align-items: center;
  padding: 8px;
  white-space: nowrap;
  border: none;
  background-color: white;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.header-lang-switcher-option img {
  margin-right: 8px;
}

.footer {
  padding: 18px 24px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.footer.dark {
  color: white;
}

.footer.light {
  color: black;
}

@media (min-width: 768px) {
  .text-body-3 {
    font-size: 14px;
  }
  .text-body-2 {
    font-size: 14px;
  }
}
